html {
    margin: 0em;
    padding: 0em;
}
 
body {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    background-color: #1B2A33;
}

body, button {
    color: #888;
    font-family: robotolight;
}

/* The sidebar menu */
.icon-menu {
    max-width: 32px;
}

.icon-menu-box {
    background-color: #152128;
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-menu-box:hover {
    background-color: #2C404C;
    cursor: pointer;
}

.profile-menu {
    max-width: 40px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #152128; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, .4);
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .nav-bottom {
    position: absolute;
    bottom: 0;
  }
  
  /* Style page content */
  .main {
    margin-left: 100px; /* Same as the width of the sidebar */
    max-height: 100%;
    overflow-y: scroll;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }